<mat-toolbar color="primary">
  Sign Up
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<form action="">
  <mat-dialog-content>
    <p>
    <mat-form-field color="primary">
      <input matInput placeholder="Email Id" type="email" required> 
    </mat-form-field>
    <mat-form-field color="primary">
      <input matInput placeholder="Username" type="text" required> 
    </mat-form-field>
    <mat-form-field color="primary">
      <input matInput placeholder="Password" type="password" required> 
    </mat-form-field>
  </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-raised-button color="primary" type="submit" class="mr-5">Login</button> 
  </mat-dialog-actions>
</form>