
<mat-toolbar color="primary">

  </mat-toolbar>

  <div class="container ">
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <h1 class="text-center">Enter Reminder Details</h1>
    
    <form action="">
      <div class="row text-center">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Enter Event Title</mat-label>
                <input class="form-control" matInput name="title" type="text" required >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>Enter Event Description</mat-label>
            <textarea matInput class="form-control" name="eventdesc" id="eventdesc" cols="30" rows="10" required></textarea>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput class="form-control" type="date"  id="date" required>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput class="form-control" type="time" value="00:00:00"  id="time" required>
          </mat-form-field>
        </div>
        <div class="col-12 offset-4">
          <button class="form-control" mat-raised-button color="primary" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
    </div>
  </div>
